# URL de la página que quieres monitorear
URL=TU_URL

# Intervalo para revisar si la página está arriba (en segundos)
CHECK_INTERVAL=30

# Intervalo para enviar notificaciones repetidas (en segundos)
NOTIFY_INTERVAL=600

# Token de tu bot de Telegram
BOT_TOKEN=TU_BOT_TOKEN_AQUI

# Chat ID de Telegram al que se enviarán los mensajes
CHAT_ID=TU_CHAT_ID_AQUI
